body{
   background-color: #fed9b7;
}

a, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #4274df;
}

main{
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
}

.navbar{
    display: flex;
    justify-content: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 10px;
    margin-right: 25px;

}


.informazioni{
    display: flex;
    justify-content: right;    
}

.home, .chisono, .CV, .progetti{
    margin-right: 40px;
}

.contenitore-immagine{
    margin-top: 50px;
}


.immagine{
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 0;
    float: left;
}

p{
    margin-top: 50px;
    text-align: justify;
    margin: 0;

}



@media screen and (max-width: 600px) {
    main{
        display: flex;
        align-items: flex-start;
        max-width: 700px;
        margin: auto;
        margin-top: 20px;
    }

    .contenitore-immagine{
        max-width: 90%;
    }

    .immagine{
        margin-top: 20px;
        width: 50%;
    }

    .informazioni{
        position: relative;
        margin-left: 70px;
    }

    .navbar {
        max-width: 80%;
    }

    .home, .chisono, .CV, .progetti, .contatti {
        margin-right:10px;
    }
}