body{
   background-color: #F3E5F5;
}

main{
    display: flex;
    align-items: center;
    text-align: justify;
    max-width: 700px;
    margin: auto;
}

a, a:visited, a:active{
    text-decoration: none;
    color: #283593;
}

a:hover{
    color: #F5C000;
}


.navbar{
    display: flex;
    justify-content: right;
    font-family: "Roboto";
    font-size:17px;
    font-weight: bold ;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 10px;
    margin-right: 25px;
}


.informazioni{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    
}

.home, .chisono, .CV, .progetti{
    margin-right: 40px;
}

.contenitore-immagine{
    margin-top: 50px;
}

.icone-social {
    position: fixed;
    bottom: 0;
    left: 0;
}

.social{
    width: 30px;
    margin-right: 15px;
}


.immagine{
    width: 200px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 0;
    float: left;
}

p{
    color: #212121;
    font-family: "Roboto";
    text-align: justify;
    margin-top: 35px;
    margin: 8px;

}



@media screen and (max-width: 600px) {
    main{
        display: flex;
        align-items: flex-start;
        max-width: 700px;
        margin: auto;
        margin-top: 10px;
    }

    .contenitore-immagine{
        max-width: 90%;
        margin-left: 25px;
    }

    .immagine{
        margin-top: 20px;
        width: 40%;
    }

    .informazioni{
        position: relativ;
    }

    .navbar {
        max-width: 80%;
        margin-left: 50px;
    }

    .home, .chisono, .CV, .progetti, .contatti {
        margin-right:10px;
    }

    .icone-social{
        position: relative;
    }

}