body{
    background-color: white;
}

a, a:visited, a:hover, a:active{
    text-decoration: none;
}

main{
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
}

.navbar{
    display: flex;
    justify-content: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}


.informazioni{
    color: blueviolet;
    display: flex;
    justify-content: right;
    margin-right: 20px;
    
}

.home, .chisono, .CV, .progetti{
    margin-right: 40px;
}



.immagine{
    width: 200px;
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 0;
    float: left;
}

p{
    text-align: justify;
    margin-left: 20px;
}



@media screen and (max-width: 600px) {
    main{
        display: flex;
        align-items: flex-start;
        max-width: 700px;
        margin: auto;
        margin-top: 20px;
    }

    .immagine{
        margin-top: 20px;
        width: 50%;
    }

    .informazioni{
        position: relative;
        margin-left: 70px;
    }

    .navbar {
        position: relative;
        left:-21%;
        justify-content:unset;
    }

}