body{
    background-color: #F3E5F5;
}

main {
    max-width: 700px;
    margin: auto;
}

a, a:visited, a:active{
    text-decoration: none;
    color: #283593;
}

a:hover{
    color: #F5C000;
}


.navbar{
    display: flex;
    justify-content: right;
    font-family: "Roboto";
    font-size:17px;
    font-weight: bold ;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 10px;
    margin-right: 25px;
}


.informazioni{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    
}

.home, .chisono, .CV, .progetti{
    margin-right: 40px;
}

.testo-form{
    margin-top: 80px;
    text-align: center;
    font-family: "Roboto";
    color: #212121;  
}

.contenitore-contatti{
    text-align: center;
    margin-top: 50px;
}

.nome-cognome, .contenitore-email, .area-testo {
    width: 400px;
    margin: auto;
}

.nome, .cognome{
    width: 150px;
    padding: 8px 12px;
    border: solid 1px grey;
    border-radius: 5px;
    }

.email{
    width: 330px;
    margin-top: 20px;
    padding: 8px 12px;
    border: solid 1px grey;
    border-radius: 5px;
}

.testo{
    width: 350px;
    margin-top: 20px;
    height: 150px;
    border: solid 1px grey;
    border-radius: 5px;
}

.contattami{
    margin-top: 20px;
    padding: 10px 14px;
    border: none;
    border-radius: 5px;
    background-color: #F5C000;
    color: black;
    cursor: pointer;
}

.contattami:active{
    background-color: #CCA000;
    color: black;
}

.icone-social {
    position: fixed;
    bottom: 0;
    left: 0;
}

.social{
    width: 30px;
    margin-right: 15px;
}


@media screen  and (max-width:600px) {
    .informazioni{
        position: relative;
    }

    .navbar {
        max-width: 80%;
        margin-left: 50px;
    }

    .home, .chisono, .CV, .progetti, .contatti {
        margin-right:10px;
    }

    .contenitore-contatti{
       margin-left: -17px;
    }
    
}
