body{
    background-color: #F3E5F5;
}

main{
    max-width: 700px;
    align-items: center;
    margin: auto;
    text-align: justify;
    margin-top: 50px;
    
}

a, a:visited, a:active{
    text-decoration: none;
    color: #283593;
}

a:hover{
    color: #F5C000;
}


.navbar{
    display: flex;
    justify-content: right;
    font-family: "Roboto";
    font-size:17px;
    font-weight: bold ;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 10px;
    margin-right: 25px;
}


.informazioni{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    
}

.home, .chisono, .CV, .progetti{
    margin-right: 40px;
}

h1, h2{
    color: #F5C000;
    font-family: "Major Mono Display";
    font-weight: bold;
}

p{
    color: #212121;
    font-family: "Roboto";
    margin: 11px;
}

.social{
    width: 30px;
    margin-right: 15px;
}

@media screen  and (max-width:600px) {
    .informazioni{
        position: relative;
    }

    .navbar {
        max-width: 80%;
        margin-left: 50px;
    }

    .home, .chisono, .CV, .progetti, .contatti {
        margin-right:10px;
    }

    main{
        margin-top: 80px;
    }
}

