body{
    background-image: url(/assets/img/cartoon.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 100% 10%;
    background-color: #F3E5F5;

}

main {
    max-width: 700px;
    margin: auto;
}

a, a:visited, a:active{
    text-decoration: none;
    color: #283593;
}

a:hover{
    color: #F5C000;
}


.navbar{
    display: flex;
    justify-content: right;
    font-family: "Roboto";
    font-size:17px;
    font-weight: bold ;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 10px;
    margin-right: 25px;
}


.informazioni{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    
}

.home, .chisono, .CV, .progetti{
    margin-right: 40px;
}

.presentazione {
    margin-top: 250px;
    margin-left: 10px;
}

h1 {
    color: #212121;
    font-size: 50px;
    font-family: "Major Mono Display";
    font-weight: normal;
}

h2 {
    color: #212121;
    font-family: "Major Mono Display";
    font-weight: normal;
}

.icone-social {
    position: fixed;
    bottom: 0;
    left: 0;
}

.social{
    width: 30px;
    margin-right: 15px;
}

@media screen  and (max-width:600px) {
    body{
        background-size: 400px;
        background-position: center;
        margin-top: 500px;
    }

    h1{
        margin-left: 70px;
    }
 
    h2{
        margin-left: 30px;
    }

    .informazioni{
        position: relative;
    }

    .navbar {
        max-width: 80%;
        margin-left: 50px;
    }

    .home, .chisono, .CV, .progetti, .contatti {
        margin-right:10px;

    }

    .presentazione{
        position: fixed;
        bottom: 100px;
        left: 0;
    }
}
    


