body{
    background-color: aqua;

}

a, a:visited, a:hover, a:active{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}


.informazioni{
    color: blueviolet;
    display: flex;
    justify-content: right;
    margin-right: 20px;
    
}

.home, .chisono, .CV, .progetti{
    margin-right: 40px;
}


