body {
    background-color: #F3E5F5;
}

main{
    text-align: center;
    margin-top: 40px;
}

a, a:visited, a:active{
    text-decoration: none;
    color: #283593;
}

a:hover{
    color: #F5C000;
}

.navbar{
    display: flex;
    justify-content: right;
    font-family: "Roboto";
    font-size:17px;
    font-weight: bold ;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 10px;
    margin-right: 25px;
}


.informazioni{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    
}

.home, .chisono, .CV, .progetti{
    margin-right: 40px;
}

.workinprogress{
    width:565px;
    text-align: center;
    margin-top: 30px;
}

.icone-social {
    position: fixed;
    bottom: 0;
    left: 0;
}

.social{
    width: 30px;
    margin-right: 15px;
}



@media screen and (max-width: 600px){
    .workinprogress{
        width: 350px;
        margin-top: 150px;
        margin-left: -5px;
        }

    .informazioni{
        position: relative;
    }

    .navbar {
        max-width: 80%;
        margin-left: 50px;
    }

    .home, .chisono, .CV, .progetti, .contatti {
        margin-right:10px;
    }
}